{% extends "base.html.twig" %}
{% block title  'Registration'%}
{% block stylesheets %}
 <style>
  .form-check {
   position: relative;
   display: inline-block;
   padding-left: 1.25rem;
  }

  .form-check-r {
   padding-left: 1.2rem;
  }

  .form-check:last-child {
   padding-left: 5rem;
  }
 </style>

{% endblock %}
{% block body %}
 {% include "includes/menu.html.twig" %}
 <!--/ Intro Single star /-->
 <section class="intro-single">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-lg-8">
     <div class="title-single-box">
      <h1 class="title-single">Profile</h1>
     </div>
    </div>
   </div>
   <hr>
{# ERROR OR SUCCESS MESSAGE #}
{% for message in app.flashes('success') %}
 <div class="alert alert-success">
  {{message}}</div>
{% endfor %}

  </div>
 </section>
 <!--/ Intro Single End /-->


 <section>
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     {% if app.user %}
      <h5>Gender: {{app.user.gender}}</h5>

      <h5>First Name: {{app.user.firstname}}</h5>
      <h5>Last Name: {{app.user.lastname}}</h5>
      <h5>Email: {{app.user.email}}</h5>
      <h5>Telephone Number: {{app.user.phoneNumber}}</h5>
      <h5>Address: {{app.user.address}}</h5>
      <h5>Ville: {{app.user.city}}</h5>
      <h5>Code Postal: {{app.user.postalCode}}</h5>



      <a href="{{path('edit_profil')}}" class="btn btn-success">Modifier</a>

     {% endif %}
    </div>
   </div>
  </div>
 </section>
       

 
{% endblock %}

