{% extends "base.html.twig" %}
{% block title 'Annonces' %}

  {% block body %}
    {# include menu #}
    {% include "includes/menu.html.twig" %}


    <!--/ Intro Single star /-->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Biens à Vendre</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Property Grid Star /-->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select">
                  <option selected>Tous</option>
                  <option value="1">Appartement</option>
                  <option value="2">Maison</option>

                </select>
              </form>
            </div>
          </div>

          {% for annonce in annonce_vendre %}
            <div class="col-md-4">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img alt="" class="img-a img-fluid" src="{{vich_uploader_asset(annonce, 'imageFile')}}">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="#">{{annonce.title}}</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">€
                          {{annonce.formatedPrice}}</span>

                      </div>
                      <a class="link-a" href="{{path('property_show', {id:annonce.id, slug:annonce.slug})}}">Plus de Details
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Surface</h4>
                          <span>{{ annonce.surface }}M²</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Pièces</h4>
                          <span>{{ annonce.rooms }}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Chambres</h4>
                          <span>{{ annonce.rooms -1}}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Etage</h4>
                          {% if annonce.floor == 0 %}
                            <span>Rez de Chaussé
                            </span>
                          {% else %}
                            <span>{{annonce.floor}}

                            </span>
                          {% endif %}
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </section>
    <!--/ Property Grid End /-->


    {# include footer #}
    {% include "includes/footer.html.twig" %}

  {% endblock %}
