{% extends 'base.html.twig' %}


{% block body %}

  {# include menu #}
  {% include "includes/menu.html.twig" %}

  {# include menu #}
  {% include "includes/header.html.twig" %}

  {# Property Rent Starts #}
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Louer</h2>
            </div>
            <div class="title-link">
              <a href="{{path('annonce_louer')}}">Voir Tous

                <i class="fa fa-angle-right"></i>

              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-carousel owl-theme property-carousel">
        {% for property_louer in properties_louer | slice(0,6) %}
          <div class="carousel-item-b">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img alt="" class="img-a img-fluid" src="{{vich_uploader_asset(property_louer, 'imageFile')}}">

              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{{path('property_show', {id:property_louer.id, slug: property_louer.slug})}}">{{property_louer.title}}</a>

                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">€
                        {{property_louer.price}}
                        / mois</span>
                    </div>
                    <a class="link-a" href="{{path('property_show', {id:property_louer.id, slug: property_louer.slug})}}">Plus de details
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Surface</h4>
                        <span>{{ property_louer.surface }}M²</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Pièces</h4>
                        <span>{{ property_louer.rooms }}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Chambres</h4>
                        <span>{{ property_louer.rooms -1}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Etage</h4>
                        {% if property_louer.floor == 0 %}
                          <span>Rez de Chaussé
                          </span>
                        {% else %}
                          <span>{{property_louer.floor}}
                          </span>
                        {% endif %}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </section>
  {# Property Rent End #}

  {# Property Sales Start #}
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Vendre</h2>
            </div>
            <div class="title-link">
              <a href="{{path('annonce_vendre')}}">Voir Tous
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-carousel owl-theme property-carousel">
        {% for property_vendre in properties_vendre | slice(0,6) %}
          <div class="carousel-item-b">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img alt="" class="img-a img-fluid" src="{{vich_uploader_asset(property_vendre, 'imageFile')}}">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{{path('property_show', {id:property_vendre.id, slug: property_vendre.slug})}}">{{property_vendre.title}}</a>

                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">€
                        {{property_vendre.formatedPrice}}
                      </span>
                    </div>
                    <a class="link-a" href="{{path('property_show', {id:property_vendre.id, slug: property_vendre.slug})}}">Plus de details
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Surface</h4>
                        <span>{{ property_vendre.surface }}M²</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Pièces</h4>
                        <span>{{ property_vendre.rooms }}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Chambres</h4>
                        <span>{{ property_vendre.rooms -1}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Chauffage</h4>
                        <span>{{ property_vendre.heat}}</span>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </section>


  {# Property Sales End #}


  {% include "includes/footer.html.twig" %}
{% endblock %}
