{% extends "base.html.twig" %}

{% block title  'Admin' %}
  {% block body %}
    {# include menu #}
    {% include 'includes/menu.html.twig' %}
    <br><br><br><br><br><br>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="py-2 bg-primary text-center" id="main-header">
              <h1 class="text-white">
                <i class="fa fa-gear"></i>DashBoard</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <!--Actions-->
    <section class="py-4 mb-4 bg-faded" id="actions">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a class="btn btn-primary btn-block"  href="{{path('admin_new_property')}}">
              <i class="fa fa-plus"></i>
              Add Properties</a>
          </div>
          
          <div class="col-md-3">
            <a class="btn btn-success btn-block"  href="{{path('admin_add_category')}}">
              <i class="fa fa-plus"></i>
              Add Category</a>
          </div>
          <div class="col-md-3">
            <a class="btn btn-secondary btn-block"  href="{{path('admin_add_type')}}">
              <i class="fa fa-plus"></i>
              Add Type</a>
          </div>
        </div>
      </div>
    </section>
      


    <!--POSTS-->
    <section id="posts">
      <div class="container">
        <div class="row">
           <div class="col-md-12">             
              <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="types-tab" data-toggle="tab" href="#type" role="tab" aria-controls="type" aria-selected="false">Types</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              {# properties #}
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card">
                  <div class="card-header">
                    <h4>Properties</h4>
                  </div>
                  <table class="table table-responsive table-striped">
                    <thead class="thead-inverse">
                      <tr>
                        <td>Id</td>
                        <td>Category</td>
                        <td>Type</td>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Photo</td>
                        <td>Chambres</td>
                        <td>Salle de Bains</td>
                        <td>Etege</td>
                        <td>Surface</td>
                        <td>Prix</td>
                        <td>Energie</td>
                        <td>Creation Date</td>
                        <td>Vendu</td>
                        <td>Ville</td>
                        <td>Adresse</td>
                        <td>code postal</td>
                        <td>Pariking</td>
                        <td>Actions</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% set id = 0 %}
                        {% for property in properties %}
                            {% set id = id+1 %}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{property.category.title}}</td>
                                <td>{{property.type.title}}</td>
                                <td>{{property.title}}</td>
                                <td>{{property.description | slice(0,50)}}. . .
                                </td>
                                <td>
                                    <img src="{{vich_uploader_asset(property, 'imageFile')}}" class="img-thumbnail" alt="{{property.title}}">

                                </td>
                                <td>{{property.rooms}}</td>
                                <td>{{property.bathrooms}}</td>
                                <td>{{property.floor}}</td>
                                <td>{{property.surface}}</td>
                                <td>{{property.price}}</td>
                                <td>{{property.heat}}</td>
                                <td>{{property.createdAt | date('d/m/Y - H:i')}}</td>
                                <td>{{property.sold}}</td>
                                <td>{{property.city}}</td>
                                <td>{{property.address}}</td>
                                <td>{{property.postalCode}}</td>
                                <td>{{property.parking}}</td>
                                <td>
                                    <a class="text-primary" href="{{path('admin_edit_property', {'id':property.id})}}" style="display:inline-block; font-weight:bold;"><i class="fa fa-edit"></i></a>
                                    |
                                    {# Pour delete #}
                                    {# <form method="post" action="{{path('admin_property_delete', {'id':property.id})}}" >
                                        <input name="_method" type="hidden" value="DELETE">
                                        <input type="hidden" name="_token" value="{{csrf_token('delete' ~ property.id)}}">
                                        <button class="btn btn-danger" onclick="return confirm('Etes vous vraiment s没r?')" type="submit"><i class="fa fa-trash"></i></button>
                                    </form> #}
                                    <a class="text-danger" href="{{path('admin_property_delete', {'id':property.id})}}" onclick="return confirm('Etes vous vraiment s没r?')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}           
                    </tbody>
                  </table>
                </div> 
              </div>
              {# properties end #}
              {# User starts #}
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card">
                  <div class="card-header">
                    <h4>Users</h4>
                  </div>
                  <table class="table table-striped">
                    <thead class="thead-inverse">
                      <tr>
                        <td>#</td>
                        <td>Title</td>
                        <td>Category</td>
                        <td>Date Posted</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">1</td>
                        <td>Post  One</td>
                        <td>Web Development</td>
                        <td>July 11, 2017</td>
                        <td>
                          <a class="btn btn-secondary" href="">
                            <i class="fa fa-angle-double-right"></i>Details</a>
                        </td>
                      </tr>                 
                    </tbody>
                  </table>
                </div> 
              </div>
              {# User endd #}
              
              {# Categories starts #}
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card">
                  <div class="card-header">
                    <h4>Categories</h4>
                  </div>
                  <table class="table table-striped">
                    <thead class="thead-inverse">
                      <tr>
                        <td>#</td>
                        <td>Title</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% set id = 0 %}
                        {% for category in categories %}
                            {% set id = id+1 %}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{category.title}}</td>

                                <td>
                                    <a class="text-primary btn btn-warning" href="{{path('admin_edit_cat', {'id':category.id})}}" style="display:inline-block; font-weight:bold;">Edit</a>
                                    ||
                                    {# Pour delete #}
                                    <form method="post" action="{{path('admin_cat_delete', {'id':category.id})}}" style="display:inline-block;">
                                        <input name="_method" type="hidden" value="DELETE">
                                        <input type="hidden" name="_token" value="{{csrf_token('delete' ~ category.id)}}">
                                        <button class="btn btn-danger" onclick="return confirm('Etes vous vraiment s没r?')" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              {# Categories end #}
              
                
              {# Types starts #}
              <div class="tab-pane fade" id="type" role="tabpanel" aria-labelledby="types-tab">
                <div class="card">
                  <div class="card-header">
                    <h4>Types</h4>
                  </div>
                  <table class="table table-striped">
                    <thead class="thead-inverse">
                      <tr>
                        <td>#</td>
                        <td>Title</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    {% set id = 0 %}
                            {% for type in types %}
                                {% set id = id+1 %}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{type.title}}</td>

                                    <td>
                                        <a class="text-primary btn btn-warning" href="{{path('admin_edit_type', {'id':type.id})}}" style="display:inline-block; font-weight:bold;">Edit</a>
                                        ||
                                        {# Pour delete #}
                                        <form method="post" action="{{path('admin_delete_type', {'id':type.id})}}" style="display:inline-block;">
                                            <input name="_method" type="hidden" value="DELETE">
                                            <input type="hidden" name="_token" value="{{csrf_token('delete' ~ type.id)}}">
                                            <button class="btn btn-danger" onclick="return confirm('Etes vous vraiment s没r?')" type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                  </table>
                </div>
              </div>
              {# Types end #}
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section> 


 
{% endblock %}
