{% extends "base.html.twig" %}

{% block title  'Admin creer new annonce'%}


{% block body %}
{{ include("include/menu.html.twig") }}

    <div class="container">
    <h1>Créer New Annonce</h1>
    {{form_start(form)}}
        <div class="row">
            <div class="col-md-6">
                {{form_row(form.firstname, 
                {
                    'label': 'Prenom', 
                    attr:
                    {
                        'placeholder': 'Entre Votre Nom'
                    }
                }
                )}}
            </div>
            <div class="col-md-6">
                {{form_row(form.lastname)}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{form_row(form.email)}}
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{form_row(form.password)}}
                </div>
            </div>
            
        </div>
         <div class="row">
            <div class="col-md-6">
                {{form_row(form.confirmPassword)}}
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{form_row(form.phoneNumber)}}
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-6">
                {{form_row(form.gender)}}
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{form_row(form.city)}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{form_row(form.postalCode)}}
            </div>
            <div class="col-md-6">
                {{form_row(form.address)}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        
        
    
        
            
        {{form_end(form)}}
    
    
    
    
    
    </div>

{% endblock %}