{% extends "base.html.twig" %}

{% block title 'User List'%}
{% block body %}
    <div class="container">
    {% for message in app.flashes('success') %}
      <div class="alert alert-success">{{message}}</div>
    {% endfor %}
        <h1>User List ({{users | length()}})</h1>
        <table  class="table  table -striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Gender</td>
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Email</td>
                    <td>Phone number</td>
                    <td>Adress</td>
                    <td>City</td>
                    <td>Code Postal</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% set id = 0 %}
                {% for user in users %}
                    {% set id = id+1 %}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.city}}</td>
                        <td>{{user.postalCode}}</td>
                        <td>
                            {# <a class="text-primary" href="{{path('admin_edit_user', {'id':user.id})}}" style="display:inline-block; font-weight:bold;">Edit</a> || #}
                            {# Pour delete #}
                            <form method="post" action="{{path('admin_user_delete', {'id':user.id})}}" style="display:inline-block;">
                                <input name="_method" type="hidden" value="DELETE">
                                <input type="hidden" name="_token" value="{{csrf_token('delete' ~ user.id)}}">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Etes vous vraiment sûr?')">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table >
    </div>

{% endblock %}