<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EstateAgency</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>
      {% block title %}
        {% if title is defined %}
        {{title}}{% else %}Title
        {% endif %}
        | Realestate
      {% endblock %}
    </title>


    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Favicons -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> <!-- Google Fonts -->

    <!-- Bootstrap CSS File -->
    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet"> <!-- Libraries CSS Files -->
    <link href="{{asset('assets/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/animate.min.css')}}" rel="stylesheet">

    <link href="{{asset('assets/css/owl.carousel.min.css')}}" rel="stylesheet">
    <!-- Bootstrap CSS File -->

    <!-- Main Stylesheet File -->
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet"> 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{asset('assets/js/html5shiv.js')}}"></script>
      <script src="{{asset('assets/js/respond.min.js')}}"></script>
    <![endif]-->{% block stylesheets %}
  {% endblock %}

  </head>
    <body>{% block body %}
      


    {% endblock %}
      {% block javascripts %}
        <a class="back-to-top" href="#"> <i class="fa fa-chevron-up"></i>
      </a>
      <div id="preloader"></div>

      <!-- JavaScript Libraries -->
      <script src="{{asset('assets/js/jquery.min.js')}}"></script>
      <script src="{{asset('assets/js/jquery-migrate.min.js')}}"></script>
      <script src="{{asset('assets/js/popper.min.js')}}"></script>
      <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
      <script src="{{asset('assets/js/easing.min.js')}}"></script>
      <script src="{{asset('assets/js/owl.carousel.min.js')}}"></script>
      <script src="{{asset('assets/js/scrollreveal.min.js')}}"></script>

      <!-- Contact Form JavaScript File -->
      <script src="{{asset('assets/js/contactform.js')}}"></script>


      <!-- Template Main Javascript File -->
      <script src="{{asset('assets/js/main.js')}}"></script>

    {% endblock %}
  </body>
</html>
